[submodule "kraken-api-client"]
	path = kraken-api-client
	url = https://github.com/payward/kraken-api-client.git
[submodule "EasyMonoeci-PHP"]
	path = EasyMonoeci-PHP
	url = https://github.com/Yoyae/EasyMonoeci-PHP
